/** -------------------- Desktop -------------------------- **/

.biography-container {
  height: 100vh;
  display: flex;
  align-items: center;
  position: relative;
}

.biography-img-container {
  display: flex;
  justify-content: center;
  align-items: center;

  & .biography-img {
    width: 75%;
  }
}

.biography-description-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 100%;

  & .biography-description-text {
    width: 90%;
    height: 80%;
    background-color: var(--medium-bg-color);
    padding: 32px;

    color: var(--light-font-color);
  }
}


/** -------------------- Mobile -------------------------- **/

@media screen and (max-width: 960px) {
  .biography-container {
    flex-direction: column;
    gap : 16px;
  }

  .biography-img-container {
    margin-top: 64px;
  }
  .biography-description-container{
    width : 100%;
    height: fit-content;
    background-color: var(--medium-bg-color);

    & .biography-description-text{
      padding: 8px 16px;
      height: 100%;
      width: 100%;
      font-size: 0.8em;
      
    }
  }
}
