.event-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100dvh;
  
  & #event-background-container{
    position : absolute;
    width : 50vw;
    height:100vh;;
    right: -200px;
    top:200px;
    z-index:0; 
    overflow: hidden;
  }
  
  & #background{
   width : 80%;
   height: 80%;
  
  }
}

.line {
  width: 360px;
  height: 2px;
  background: linear-gradient(90deg, #c2bdb7 0%, #292524 50%, #c2bdb7 100%);
}

.event-list-container {
  display : flex;
  position: relative;
  flex-direction:column;
  gap : 2rem;
  margin: 32px;
  padding: 32px;
  background-color: var(--medium-bg-color);
  width: 80%;
  height: fit-content;
}

/* ----------- */

.event-card-container {
  display: flex;
  justify-content: end;
  gap: 2rem;
  padding-left: 128px;
}

.event-date-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 145px;
  
  & #event-card-day,
  #event-card-date {
    color: var(--light-font-color);
  }
}

.event-detail-container {
  display: flex;
  width: 70%;
  
  flex-direction: column;
  align-items: start;
  text-overflow: ellipsis;

  & #event-card-title {
    color: var(--light-font-color);
  }

  & #event-card-subtitle {
    color: var(--light-font-color);
  }
}

