/** -------------------- Desktop -------------------- **/

.navbar-container {
  position: fixed;
  top:0px;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 8%;

  /* white-bg-color */
  background-color: oklch(90% 0.01 75/80%);
  backdrop-filter: blur(10px);
}

.logo-link-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 32px;
  gap: 16px;

  & #logo_img {
    width: 72px;
  }

  & #logo_typo {
    font-family: var(--signature-font-style);
    font-size: 35px;
    min-width: max-content;
  }
}

.desktop-container {
  display: flex;
  align-items: center;
  width: 80%;
  gap: 32px;
  justify-content: flex-end;
  margin-right: 16px;
}

.nav-link {
    font-size: 18px;
    font-family: var(--primary-font-style);
  }

.nav-link:hover {
    scale: 1.2;
    color: var(--accent-font-color);
  }

.active {
  color: var(--accent-font-color);
}

.mobile-container {
  display: none;
}

/** -------------------- Mobile -------------------- **/

@media screen and (max-width: 960px) {
  .desktop-container {
    display: none;
  }

  .menu-button {
    display: block;
    border: none;
    background: none;
    cursor: pointer;

    margin: 16px;
    height: 40px;
    width: 40px;

    & .burger {
      width: 100%;
    }
  }

  .mobile-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

  }

  .mobile-navlink-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
    position: fixed;
    top: 100%;
    right: -100%; /* Hors de l'écran à gauche */
    width: 100%; /* Largeur du menu */
    height: 100dvh;
    background-color: var(--white-bg-color);
    transition: transform 0.3s ease-in-out; /* Animation de translation */
    z-index: 20; /* Pour apparaître au-dessus des autres éléments */
  }

  /* Lorsque le menu est ouvert */
  .menu-on {
    transform: translateX(-100%); /* S'affiche sur l'écran */
  }

  /* Lorsque le menu est fermé */
  .menu-off {
    transform: translateX(0); /* Reste hors de l'écran */
  }
}
